.App {
    text-align: center;
    font-size: 35px;
    margin-top: 15%;
    color: white;
}

.App-title-small {
    font-size: 20px;
    margin-bottom: 10px;
}

.App-title-big {
    font-size: 60px;
    border: 2px dashed white;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.Clock {
    margin-top: 20px;
    margin-bottom: 15px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 15px;
}

.Deadline-input {
    font-size: 15px;
    margin-right: 5px;
}

.Form {
    display: block;
}

.Main-card {
    opacity: .4;
}

.Input-alert {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 15px;
    padding: 15px;
    background-color: transparent;
    color: #292929;
    border-color: transparent;

}
